<div class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="assets/dist/img/AdminLTELogo.png" alt="AdminLTELogo">
        </div>
        <app-header></app-header>
        <app-sidemenu></app-sidemenu>
        <router-outlet></router-outlet>


        <!-- Control Sidebar -->
        <!-- <aside class="control-sidebar control-sidebar-dark">
        </aside> -->
        <!-- /.control-sidebar -->

        <app-footer></app-footer>

    </div>
</div>